 body {margin-left:25px;padding-top: 10px;}
.title {vertical-align: bottom;}
.fullColumn {width: 100%; display: inline-block; margin-top:15px; }
.column2 {width: 46%; float:left;}
.columnMiddle {width: 4%; float:left;}
.column3 {width: 33%; float:left;}
.center {text-align: center;}
.codeArea {width: 100%;}

#icons {width: 30px; margin:auto !important;}
.CodeMirror {
  border: 1px solid #eee;
  /*height: auto;*/
  height: 600px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-cursor {display:none;}

#path{margin-bottom:0;}
#tabs{font-size:inherit;}
#tabLabel{margin-bottom:0;}

#transformation .CodeMirror{margin-top: 45px;}

[class*=mapLeftButton],[class*=mapRightButton]{
	margin: 0px 4px 0px 0px;
	z-index: 2;
    border-radius: 4px;	
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	cursor: pointer;
	display: inline-block;
	background-color: rgba(255,255,255,0.4)	
}

[class*=mapLeftButton]:hover,[class*=mapRightButton]:hover{
	background-color: rgba(255,255,255,0)	
}
.buttonSelected{
	background-color: rgba(255,255,255,0);	
	border: 1px solid black;
}
.buttonHidden{
	display:none;
}
.markHighlighted{
	background-color:yellow;
}
.hideme
{
    display:none;
    visibility:hidden;
}
.showme
{
    display:inline;
    visibility:visible;
}
